
// VARIABLES PARA FUENTES

$fuente_principal:  'Roboto', sans-serif;




// PARA MEDIA QUERIES

$telefono: 480px;
$tablet: 768px;
$escritorio: 1024px;

//   COLORES

$primario: #e8505b;
$secundario: #455a64 ;
$blanco: #fff;
$negro: #000;
$grisClaro: #eceeef;

//    UNIDADES

$separacion: 5rem;