
// VARIABLES PARA FUENTES

$fuentePrincipal:  'Raleway', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;


// PARA MEDIA QUERIES

$telefono: 480px;
$tablet: 768px;
$escritorio: 1024px;

//   COLORES

$primario: #5e311e;
$secundario: #c39c63;
$blanco: #fff;
$negro: #000;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

//    UNIDADES

$separacion: 5rem;