
@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$primario;

    .contacto-grid {
        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
        background-color: v.$blanco;
        padding: v.$separacion 0;
        font-family: 'Bona Nova', serif;
        p {
            font-size: 2rem;
        }
    }

    .parrafo-footer {
        padding: 2rem;
        margin: 0;
        color: v.$blanco;
    }
}

