@use "base/variables" as v;
@use "base/mixins" as m;

.proceso-cafe {
  margin-bottom: v.$separacion;

  @include m.tablet {
    display: flex;
    align-items: center;
    gap: v.$separacion;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    .texto {
      order: -1;
    }
  }

  .imagen,
  .texto {
    flex: 1;
  }

  .texto {
    margin-top: 1rem;
    h3 {
      color: v.$primario;
      margin: 0;
      text-align: left;
      &::after {
        content: "";
        background-color: v.$secundario;
        display: block;
        width: 50%;
        height: 0.5rem;
      }
    }
  }
}
